@font-face {
  font-family: "Pax";
  src: url("#{$F-path}/PaxRegular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Segoe";
  src: url("#{$F-path}/SegoePrint.ttf");
  font-style: normal;
}
