.menu-page.menu-page--la-note {
  color: $C-brown;
  font-family: $F-segoe;

  h3 {
    font-family: 'Devonshire', cursive;
  }
}

.note.note--min {
   h3 {
     font-size: 6rem;

     @include breakpoint(only-xs) {
       font-size: 3rem;
     }

     @include breakpoint(xs) {
       font-size: 4.5rem;
     }
   }
}